spring :
  application:
    name: api-gateway
  cloud:
    gateway:
          routes:
            - id: user-service
              uri: lb://USER-SERVICE
              predicates:
                - Path=/users/**

            - id: post-service
              uri: lb://POST-SERVICE
              predicates:
                - Path=/posts/**
              filters:
                - name: AuthenticationFilter


            - id: connections-service
              uri: lb://CONNECTIONS-SERVICE
              predicates:
                - Path=/connections/**

jwt:
  secretKey: dfjskdjfkajsdfjsdfjjsdfjaksdjf;kjsadfkjksladjfkljsdfkljsdklfj






server:
  port: 9020
eureka:
  client:
    service-url:
      defaultZone: http://localhost:8761/eureka




